<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>44780899064-4cm6p5fn560gipd5oqea0h2aidfdp249.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.44780899064-4cm6p5fn560gipd5oqea0h2aidfdp249</string>
	<key>API_KEY</key>
	<string>AIzaSyBIARc5nxnKNXu1Be2sHJVgDjGTREaYL90</string>
	<key>GCM_SENDER_ID</key>
	<string>44780899064</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartBus</string>
	<key>PROJECT_ID</key>
	<string>smart-bus-37d99</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-bus-37d99.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:44780899064:ios:44ecb881979212dbb5090d</string>
</dict>
</plist>